/*  ===========================================
    ===========================================

    Project: Gold Coast Tours Project

    Notes:  Advanced CSS and SCSS - Udemy
    
    Colour Palette:
    ---------------
    Blue example: rgb(38, 38, 159)
    Green example: rgb(99, 240, 99)  

    ===========================================
    ===========================================  */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
}

body {
  margin: 1rem;
  box-sizing: border-box;
  font-family: "Lexend Tera", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*========================================================================/
============================== HEADER STYLING =============================
/========================================================================*/

.main-header {
  margin-bottom: 3rem;
  height: 70vh;
  position: relative;
}

/*===========HEADER IMAGE STYLING============*/

.paddle {
  width: 100%;
  height: 70vh;
  position: absolute;
  background-image: url(img/paddle.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(82% 0, 0 0, 0 100%, 18% 100%);
  animation: toTheRight 0.8s ease 0.5s forwards; /*====ANIMATION FOR 1ST IMG====*/
  -webkit-animation: toTheRight 0.8s ease 0.5s forwards;
  opacity: 0;
}

.boat {
  width: 100%;
  height: 70vh;
  position: absolute;
  background-image: url(img/boat.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(82% 0, 100% 0, 100% 100%, 18% 100%);
  animation: toTheLeft 0.8s ease 1.1s forwards; /*====ANIMATION FOR 2ND IMG====*/
  -webkit-animation: toTheLeft 0.8s ease 1.1s forwards;
  opacity: 0;
}

/*======KEYFRAMES FOR 1ST IMG/.PADDLE======*/

@keyframes toTheRight {
  0% {
    opacity: 0;
    transform: translateX(-6rem);
    -webkit-transform: translateX(-6rem);
    -moz-transform: translateX(-6rem);
    -ms-transform: translateX(-6rem);
    -o-transform: translateX(-6rem);
  }
  80% {
    transform: translateX(0.5rem);
    -webkit-transform: translateX(0.5rem);
    -moz-transform: translateX(0.5rem);
    -ms-transform: translateX(0.5rem);
    -o-transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

/*=======KEYFRAMES FOR 2ND IMG/.BOAT=======*/

@keyframes toTheLeft {
  0% {
    opacity: 0;
    transform: translateX(6rem);
    -webkit-transform: translateX(6rem);
    -moz-transform: translateX(6rem);
    -ms-transform: translateX(6rem);
    -o-transform: translateX(6rem);
  }

  80% {
    transform: translateX(-0.5rem);
    -webkit-transform: translateX(-0.5rem);
    -moz-transform: translateX(-0.5rem);
    -ms-transform: translateX(-0.5rem);
    -o-transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

/*======STYLING FOR MAIN/SUB-TITLES======*/

.title {
  max-width: 90rem;
  min-width: 26rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.main-title,
.sub-title {
  color: #ffff;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}

.main-title {
  font-size: 2.3rem;
}

.gold {
  color: gold;
  font-size: 3.5rem;
}

/*=======ANIMATIONS FOR MAIN/SUB-TITLES & BTN-CTA========*/

.main-title,
.sub-title,
.btn-cta {
  margin: 1rem 0;
  animation: toTheTop 0.7s ease-out 1.5s forwards;
  -webkit-animation: toTheTop 0.7s ease-out 1.5s forwards;
  opacity: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/*======KEYFRAMES FOR MAIN/SUB-TITLES & BTN-CTA======*/

@keyframes toTheTop {
  0% {
    opacity: 0;
    transform: translateY(30rem);
    -webkit-transform: translateY(30rem);
    -moz-transform: translateY(30rem);
    -ms-transform: translateY(30rem);
    -o-transform: translateY(30rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

/*===========BTN-CTA STYLING============*/

.btn-cta:link,
.btn-cta:visited {
  display: inline-block;
  margin-top: 4rem;
  text-decoration: none;
  background-color: #e20716;
  font-size: 1.4rem;
  color: #ffff;
  padding: 1rem 2rem;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -ms-border-radius: 6rem;
  -o-border-radius: 6rem;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}

.btn-cta::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e20716;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -ms-border-radius: 6rem;
  -o-border-radius: 6rem;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.btn-cta:hover::after {
  opacity: 0;
  transform: scalex(1.5) scaleY(1.7);
  -webkit-transform: scalex(1.5) scaleY(1.7);
  -moz-transform: scalex(1.5) scaleY(1.7);
  -ms-transform: scalex(1.5) scaleY(1.7);
  -o-transform: scalex(1.5) scaleY(1.7);
}

/*========================================================================/
============================== MAIN STYLING ===============================
/========================================================================*/

.main-container {
  position: relative;
}

.section-go {
  position: relative;
  margin: 4rem 0;
}

/*-----LANDSIDE LIFE/WATERFRONT FUN TOUR SECTION STYLING-----*/

.tour-info {
  position: relative;
  margin: 0 auto;
  max-width: 90rem;
  height: 35rem;
  overflow: hidden;
}

.tour-info-heading {
  margin-top: 2rem;
  padding: 2rem 0;
  font-size: 2.7rem;
  font-weight: bolder;
  font-family: "Permanent Marker", cursive;
  text-shadow: 0.3rem 0.3rem 0.3rem rgb(152, 151, 151);
}

.tour-info-p {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 1.75rem;
}

.tour-text-land,
.tour-text-water {
  color: white;
  z-index: -1;
}

.tour-text-land {
  text-shadow: 0 0 0.3rem gold;
}

.tour-text-water {
  text-shadow: 0 0 0.3rem rgb(8, 247, 247);
}

.text1,
.text4 {
  font-size: 8rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.text2,
.text5 {
  font-size: 5rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.text3,
.text6 {
  font-size: 10rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*----------BG VIDEO FOR LAND/WATER SECTION STYLING----------*/

.section-go .water-active #vid,
.section-go .land-active #vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  pointer-events: none;
}

.land-active,
.water-active {
  position: relative;
  display: grid;
  padding: 10rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 3rem;
}

/*-------------LAND/WATER CARD STYLING-------------*/

.card,
.card-booking {
  height: 40rem;
  z-index: 1;
}

.card {
  font-size: 2rem;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.card-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*--------------LANDSIDE HOVER ROTATE CARD SECTION STYLING---------------*/

.card-front-land {
  position: absolute;
  background-color: rgba(235, 235, 234, 0.7);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  font-size: 2rem;
}

.card-back {
  position: absolute;
  background-color: gold;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card-back-museum {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/museum.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

.card-back-segway {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/segway.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

.card-back-restaurant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/restaurant.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

.card-back-rooftop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/rooftop.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

/*--------------WATERFRONT HOVER ROTATE CARD SECTION STYLING---------------*/

.card-front-water {
  position: absolute;
  background-color: rgba(202, 248, 248, 0.7);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back-architect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/architect.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

.card-back-kayak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/kayak.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

.card-back-sail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/sail.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

.card-back-jetski {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/jetski.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 68%, 0 100%, 0 32%);
}

.card:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  cursor: pointer;
}

/*---------LAND/WATER CARD BACKSIDE P INFO STYLING--------*/

.land-p,
.water-p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 1.6rem;
  font-weight: 900;
  color: rgb(253, 251, 251);
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  padding: 1rem 3rem;
}

/*========================================================================/
========================== TOUR GUIDE STYLING =============================
/========================================================================*/

.tour-guide {
  max-width: 80rem;
  margin: 0 auto;
}

.tour-guide-heading {
  padding: 2.5rem 0;
  font-size: 2rem;
}

.tour-guide-container {
  max-width: 90rem;
  margin: 0 auto;
}

.tour-guide-person {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.tour-guide-p {
  padding: 1rem;
  width: 100%;
}

.guide-img-contain {
  width: 100%;
}

.guide-img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

/*========================================================================/
========================= HOVER SCALE IMGS STYLING ========================
/========================================================================*/

.section-go-scale {
  max-width: 70rem;
  margin: 5rem auto 0;
}

.container-img {
  margin: 0 auto;
  height: 50vh;
  width: 75%;
}

.container-img-hover {
  width: 55%;
}

.hover-img1,
.hover-img2,
.hover-img3,
.hover-img4,
.hover-img5 {
  position: absolute;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  outline-offset: 1rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: 5;
}

.hover-img1 {
  position: absolute;
  top: 5%;
  left: 10%;
}

.hover-img2 {
  top: 15%;
  left: 22%;
}

.hover-img3 {
  top: 25%;
  left: 34%;
}

.hover-img4 {
  top: 35%;
  left: 25%;
}
.hover-img5 {
  top: 45%;
  left: 13%;
}

.hover-img1:hover,
.hover-img2:hover,
.hover-img3:hover,
.hover-img4:hover,
.hover-img5:hover {
  outline: 0.5rem solid gold;
  cursor: pointer;
  z-index: 10;
}

.hover-img1:hover,
.hover-img3:hover,
.hover-img5:hover {
  transform: rotate(5deg) scale(1.15);
  -webkit-transform: rotate(5deg) scale(1.15);
  -moz-transform: rotate(5deg) scale(1.15);
  -ms-transform: rotate(5deg) scale(1.15);
  -o-transform: rotate(5deg) scale(1.15);
}

.hover-img2:hover,
.hover-img4:hover {
  transform: rotate(-5deg) scale(1.15);
  -webkit-transform: rotate(-5deg) scale(1.15);
  -moz-transform: rotate(-5deg) scale(1.15);
  -ms-transform: rotate(-5deg) scale(1.15);
  -o-transform: rotate(-5deg) scale(1.15);
}

/*========================================================================/
========================= BOOKING CARD STYLING ============================
/========================================================================*/

.section-go-booking {
  margin-top: 5rem;
  border: 2px solid blue;
}

.booking-header {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
}

#booking {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-booking {
  width: 25rem;
  text-align: center;
  margin: 2rem;
  background-color: blueviolet;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.card-booking:hover {
  transform: translateY(-3rem);
  -webkit-transform: translateY(-3rem);
  -moz-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  -o-transform: translateY(-3rem);
  cursor: pointer;
}

/*========================================================================/
============================== FORM STYLING ===============================
/========================================================================*/

.form-card {
  height: 50rem;
  margin: 3rem 0;
  padding: 3rem 0;
  border: 2px solid red;
}

/*========================================================================/
============================= FOOTER STYLING ==============================
/========================================================================*/

.footer-end {
  height: 3rem;
}
