/*  ===========================================
    ===========================================

    Project: Gold Coast Tours Project

    Notes:  Advanced CSS and SCSS - Udemy
    


    Colour Palette:
    ---------------
    Blue example: rgb(38, 38, 159)
    Green example: rgb(99, 240, 99)  

    ===========================================
    ===========================================  */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
}

body {
  margin: 1rem;
  box-sizing: border-box;
  font-family: "Lexend Tera", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*========================================================================/
============================== HEADER STYLING ============================
/========================================================================*/

.main-header {
  height: 70vh;
  position: relative;
  margin-bottom: 1rem;
}

/*==========IMAGES STYLING IN HEADER BEGINS============*/

.paddle {
  width: 100%;
  height: 70vh;
  position: absolute;
  background-image: url(img/image2.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(82% 0, 0 0, 0 100%, 18% 100%);
  animation: toTheRight 0.8s ease 0.5s forwards; /*====ANIMATION FOR 1ST IMG====*/
  -webkit-animation: toTheRight 0.8s ease 0.5s forwards;
  opacity: 0;
}

.boat {
  width: 100%;
  height: 70vh;
  position: absolute;
  background-image: url(img/image4.jpg);
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(82% 0, 100% 0, 100% 100%, 18% 100%);
  animation: toTheLeft 0.8s ease 1.1s forwards; /*====ANIMATION FOR 2ND IMG====*/
  -webkit-animation: toTheLeft 0.8s ease 1.1s forwards;
  opacity: 0;
}

/*======KEYFRAMES FOR 1ST IMG/.PADDLE======*/

@keyframes toTheRight {
  0% {
    opacity: 0;
    transform: translateX(-6rem);
    -webkit-transform: translateX(-6rem);
    -moz-transform: translateX(-6rem);
    -ms-transform: translateX(-6rem);
    -o-transform: translateX(-6rem);
  }
  80% {
    transform: translateX(0.5rem);
    -webkit-transform: translateX(0.5rem);
    -moz-transform: translateX(0.5rem);
    -ms-transform: translateX(0.5rem);
    -o-transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

/*=======KEYFRAMES FOR 2ND IMG/.BOAT=======*/

@keyframes toTheLeft {
  0% {
    opacity: 0;
    transform: translateX(6rem);
    -webkit-transform: translateX(6rem);
    -moz-transform: translateX(6rem);
    -ms-transform: translateX(6rem);
    -o-transform: translateX(6rem);
  }

  80% {
    transform: translateX(-0.5rem);
    -webkit-transform: translateX(-0.5rem);
    -moz-transform: translateX(-0.5rem);
    -ms-transform: translateX(-0.5rem);
    -o-transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

/*======STYLING FOR MAIN/SUB-TITLES BEGINS======*/

.brand {
  max-width: 90rem;
  min-width: 26rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.main-title,
.sub-title {
  color: #ffff;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}

.main-title {
  font-size: 2rem;
}

/*=======ANIMATIONS FOR MAIN/SUB-TITLES & BTN-CTA========*/

.main-title,
.sub-title,
.btn-cta {
  margin: 1rem 0;
  animation: toTheTop 0.7s ease-out 1.5s forwards;
  -webkit-animation: toTheTop 0.7s ease-out 1.5s forwards;
  opacity: 0;
}

/*======KEYFRAMES FOR MAIN/SUB-TITLES & BTN-CTA======*/

@keyframes toTheTop {
  0% {
    opacity: 0;
    transform: translateY(20rem);
    -webkit-transform: translateY(20rem);
    -moz-transform: translateY(20rem);
    -ms-transform: translateY(20rem);
    -o-transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

/*==========STYLING FOR BTN-CTA BEGINS============*/

.btn-cta:link,
.btn-cta:visited {
  display: inline-block;
  margin-top: 4rem;
  text-decoration: none;
  background-color: #e20716;
  font-size: 1.2rem;
  color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -ms-border-radius: 6rem;
  -o-border-radius: 6rem;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}

.btn-cta::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e20716;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  -ms-border-radius: 6rem;
  -o-border-radius: 6rem;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.btn-cta:hover::after {
  opacity: 0;
  transform: scalex(1.5) scaleY(1.7);
  -webkit-transform: scalex(1.5) scaleY(1.7);
  -moz-transform: scalex(1.5) scaleY(1.7);
  -ms-transform: scalex(1.5) scaleY(1.7);
  -o-transform: scalex(1.5) scaleY(1.7);
}

/*========================================================================/
============================== MAIN STYLING ==============================
/========================================================================*/

.main-container {
  position: relative;
}

.tour {
  font-size: 1.7rem;
  font-weight: bolder;
}

.section-go {
  position: relative;
  margin: 4rem 0;
}

.section-go .water-active #vid,
.section-go .land-active #vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  pointer-events: none;
}

.land-active,
.water-active {
  display: grid;
  padding: 5rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 3rem;
}

.card-style1,
.card-style2,
.card-style3 {
  height: 20rem;
  z-index: 1;
}

.card-style1 {
  background-color: rgba(235, 235, 234, 0.6);
}

.card-style2 {
  background-color: rgba(202, 248, 248, 0.633);
}

.card-style3 {
  width: 25rem;
  text-align: center;
  margin: 1rem;
}

#booking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*========================================================================/
============================== FORM STYLING ==============================
/========================================================================*/

.form-card {
  border: 1px solid purple;
  height: 10rem;
  margin: 1rem 0;
  padding: 1rem 0;
}

/*========================================================================/
============================= FOOTER STYLING =============================
/========================================================================*/

.footer-end {
  height: 3rem;
}
